@CHARSET "EUC-KR";

body{
	background-color: F2F7E7;
	padding: 0px;
	margin: 0px;
}
#chatbox{
	padding: 10px;
	padding-left: 30px;
	margin: 15px 5px 15px 5px;
	cursor: pointer;
	border-radius: 20px;
	background-color: white;
	line-height: 10px;
}
#chatbox #dname{
	font-weight: 900;
}
#chatbox #fregdate{
	font-size: small;
	color: #96a996;
}

/*---------------room.jsp-----------------*/
#nevi{
   position: sticky;
   top: 0;
}
td{
	vertical-align: middle;
}
#hosname{
	margin-top: 50px;
	color: white;
	font-size: 20px;
}
#menubar{
	width: 100%;
	height: 50px;
	background-color: #A7CA37;
}
.all{
	width: 100%;
	height: 90px;
	margin-bottom: 30px;
	line-height: 11px;
}
#line{
	
	
}
.messagebox{
	display: inline-block;
	padding: 15px;
	margin: 15px 5px 5px 5px;
	border-radius: 10px;
	background-color: white;
	max-width: 300px;
}
.messagebox.right{
	float: right;
	margin-right: 15px;
	background-color: #ffe99d;
}
.messagebox.left{
	margin-left: 15px;
}

.date{
	position: relative;
	top: 2px;
	font-size: 13px;
	color: #96a996;
}
.date.left{
	margin-left: 20px;
}
.date.right{
	float:right;
	margin-right: 20px;
    margin-left: 157px;
}
.id.right {display:none;}
.id.left{
	font-weight: 900;
	margin-left: 20px;
}
.readdate.left{
	display:none;
}
.readdate.right{
	font-size: small;
	color: #96a996;
    float: right;
    margin-top: 47px;
}
#sendbox{
	background-color: white;
   	position: fixed;
   	bottom: 0px;
   	width: 100%;
}
#txtMessage{
	width: 100%;
   	height: 90px;
   	border: none;
   	padding: 20px;
   	resize:none;
}
#txtMessage:focus{
	outline:none;
}