@charset "UTF-8";

.page_hoschool {
	display: flex;
	flex-direction: column;
	
	height: auto;
	
	/*  background-color: pink; */
	font-family: "nanum gothic";
	
}

.ho_page_header {
	text-align: center;
	min-height: 100px;
	width: 100%;
	/* background-color: #e5f6b3; */
}

.ho_body {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	height: auto;
	/* background-color: orange; */
}

#hashtag {
	width: 40px;
	margin: 0px 0px 10px 0px;
	/* border: 1px solid black; */
}
.img_wrapper{
	width: 200px;
}
input[name='sort'] {
	margin-top: 30px;
}

.toggle-radio {
	margin: 20px;
}

input[name='keyword'] {
	font-size: 25px;
}



.prame {
	/* 		사용자가 올린 백그라운드 이미지 */
	background-image:
		url("https://img.freepik.com/free-photo/a-scottish-straight-cat-on-a-white-background-looking-up-top-view-copy-space-banner_76158-766.jpg?size=626&ext=jpg");
	background-size: 500px 200px;
	width: 600px;
	height: 160px;
	padding: 10px;
	margin: 20px;
	box-shadow: 5px 5px 5px 1px gray;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.prame_row1 {
	display: flex;
	width: 600px;
	/* border: 1px solid red; */
	justify-content: space-between;
	align-items: center;
}

.prame_row2 {
height: 80px;
	}
.prame_row3 {
	
	display: flex;
	justify-content: space-between;
	/* border: 1px solid black; */
	align-items: flex-end;
}

.prame_name {
	width: 150px;
	/* border: 1px solid black; */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.prame_contact {
	width: 150px;
	/* border: 1px solid black; */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.prame_description {
	width: 600px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	/* border: 1px solid black; */
}

.prame_price {
	display: flex;
	align-items: flex-end;
	height: 40px;
/* 	border: 1px solid black; */
	width: 600px;
	justify-content: flex-end;
	
}

.bigPrame {
	margin: 0px auto;
	width: 500px;
	float: right;
}

.date_box {
	background-image: url("");
	background-size: 210px 210px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

#icon_calendar {
	width: 40px;
	margin: 20px 0px 0px 0px;
}
#icon_calendar{
	float: left;
	margin: 20px;
}
#hashtag{
	float: left;
	margin: 20px 0px 20px 20px;
}
.ho_left_section {
	display: flex;
	margin-right: 50px;
	
	align-items: initial;
	height:800px;
	width: 240px;
	margin: 5px;
	
	
	/* background-color: green;  */
}

.input_dates {
	border-radius: 10px;
	padding: 2px;
}

.sideMenu_container {
 	/* background-color: skyblue;  */
	height: auto;
	width: 210px;
	padding: 10px 10px 20px 10px;
	border-radius: 10px;
	border: 1px solid lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .sideMenu_content_wrapper{
	border: 1px solid black;

} */
span.tag {
	/* border: 1px solid black; */
	border-radius: 4px;
	padding: 2px 2px;
	background-color: #f5f6f2;
	line-height: 20px;
	white-space: nowrap;
	margin: 0px 5px 5px 0px;
	
}

.datebox_heading{
/* 	width: block;
	width: fit-content; */
	margin: 10px auto;
	text-align: center;
	width: 200px;
	line-height: 40px;
	/* border: 1px solid black; */
	font-size: 20px;
	font-weight: 700;
}
.ho_section_right {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-left: 10px 0px 0px 10;
	width: 670px;
	min-height: 300px;
	/* background-color: #d5fc58; */
}

.ho_content_list {
	 /* border: 1px solid blue;  */
	display: flex;
	height: auto;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.scname {
	font-size: 20px;
	font-weight: bold;
}

.sctel {
	font-size: 17px;
}

.sconeline {
	font-size: 15px;
}

.scprice {
	font-size: 20px;
}

.prame_price {
	/* border: 1px solid blue; */
	width: block;
	width: fit-content;
	height: fit-content;
}

 #checkin, #checkout {
	width: 200px;
	height: 30px;
	margin-bottom: 20px;
	/* border: 1px solid black; */
}

.ho_tag_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-right: 3px;
	cursor: pointer;
	font-size: 15px;
}
.ho_tag_container_inner{
	width: 210px;
	height: 300px;
	/*   white-space: initial; */
	display: flex-inline;
	
	
	/* border: 1px solid black; */
	
	
}
.tag:hover {
	font-weight: bold;
	color: #a4c931;
}
.tag{
	float: left;
	margin-bottom:20px;
}
#keyword {
	width: 300px;
	height: 50px;
	margin-top: 50px;
	border-radius: 20px;
}

#search {
	width: 100px;
	height: 50px;
	background: #a7ca37;
	color: white;
	border: none;
	border-radius: 20px;
	font-size: 17px;
}

.toggle-radio {
	background: #f5f5f5;
	border: 1px solid #ccc
}

.toggle-radio>input:checked+label {
	background: #add8e6
}

.toggle-radio>input+label:not(:last-of-type) {
	border-right: 1px solid #ccc
}

.toggle-radio {
	border-radius: 4px
}

.toggle-radio {
	display: inline-flex
}

.toggle-radio>input[type=radio] {
	display: none
}

.toggle-radio>input[disabled]+label {
	opacity: .5
}

.toggle-radio>input[disabled]+label:hover {
	cursor: not-allowed
}

.toggle-radio>input+label {
	display: inline-block;
	margin-bottom: 0;
	padding: 5px 10px;
/* 	float: left; */
	cursor: pointer
}

.toggle-radio>input:checked+label {
	transition: background 300ms linear
}

.toggle-radio[data-style=rounded] {
	border-radius: 500px
}

.toggle-radio[data-style=square] {
	border-radius: 0
}

.toggle-radio[data-color=red]>input:checked+label {
	background: rgba(231, 76, 60, .6)
}

.toggle-radio[data-color=orange]>input:checked+label {
	background: rgba(230, 126, 34, .6)
}

.toggle-radio[data-color=yellow]>input:checked+label {
	background: rgba(241, 196, 15, .6)
}

.toggle-radio[data-color=green]>input:checked+label {
	background: rgba(46, 204, 113, .6)
}

.toggle-radio[data-color=blue]>input:checked+label {
	background: rgba(52, 152, 219, .6)
}

.toggle-radio[data-color=purple]>input:checked+label {
	background: rgba(155, 89, 182, .6)
}

.toggle-radio[data-color=gray]>input:checked+label {
	background: rgba(85, 85, 85, .6)
}

/*  
		 * Rating styles
		 */

/* 별크기 조절 */
.rating {
	width: block;
	width: fit-content;
	height: fit-content;
	/* 			margin: 0 auto 1em; */
	font-size: 25px;
	overflow: hidden;
/* 	border: 1px solid black; */
}

.rating input {
	float: right;
	opacity: 0;
	position: absolute;
}

.rating a, .rating label {
	float: right;
	color: #aaa;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
}

.rating label:hover ~ label, .rating input:focus ~ label, .rating label:hover,
	.rating a:hover, .rating a:hover ~ a, .rating a:focus, .rating a:focus 
	~ a {
	color: orange;
	cursor: pointer;
}

.rating2 {
	direction: rtl;
}

.rating2 a {
	float: none
}