@CHARSET "EUC-KR";

#sendrequpage{
	width: 960px;
	margin: 0px auto;
	text-align: center;
	margin-top: 100px;
}
#selectPet{
	display: inline-flex;
}
.btnpno{
	width: 150px;
	height: 50px;
	border-radius : 10px;
	border: #A7CA37 2px solid;
	color: #A7CA37;
	font-weight: 900;
	background-color: white;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	margin-right: 10px;
}
.btnpno:hover{
	border: #799031 2px solid;
	color: #799031;
	background-color: #F0F7D8;
}
.diseSelect{
	width:960px;
}
#nopet{
	margin-left:20px;
}
.d_etc{
	margin-top: 50px;
}
.title{
	font-size: 18pt;
	font-weight: 500;
}
table .title{
	font-size: 13pt;
	font-weight: 500;
}
input[type="checkbox"] {
	width: 18px; /*Desired width*/
	height: 18px; /*Desired height*/
	cursor: pointer;
	background: gray;
	accent-color: #A7CA37;
	color: white;
	margin-right: 10px;
}
.diseSelect input{
	margin-left: 20px;
}
input[type="text"]{
	border-radius: 10px;
	border: #BFC1B9 1px solid;
	outline-color: #A7CA37;
	padding: 20px;
	margin-left: 20px;
}
textarea, #drcontent{
	border-radius: 10px;
	border: #BFC1B9 1px solid;
	outline-color: #A7CA37;
	padding: 10px;
	margin-left: 20px;
}
#d_etc{
	padding: 20px;
	background-color: #EFF3E4;
	border-radius: 10px;
	width: 880px;
	margin-left: 20px;
	resize:none;
}
#petinfo{
	width: 900px;
	text-align:left;
	border-collapse: collapse;
	border: none;
	background-color: #EFF3E4;
	border-radius: 10px;
	margin-bottom: 20px;
}
#petinfo td{
	padding: 20px;
}
table, tr, td{
	border: none;
}
#inputfile span{
	font-size: small;
	margin-left: 20px;
}
#btninputfile{
	border-radius : 10px;
	border: #A7CA37 2px solid;
	color: #A7CA37;
	font-weight: 900;
	background-color: white;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	margin-left: 20px;
}
#btninputfile:hover{
	border: #799031 2px solid;
	color: #799031;
	background-color: #F0F7D8;
}
#request #btn{
	text-align: center;
	margin-bottom: 30px;
}
#buttons{
	float: right;
	margin: 30px;
	margin-top: 80px;
}
#sendrequest, #bigbtn{
	width: 200px;
	height: 50px;
	border: none;
	padding: 8px 12px 8px 12px;
	background-color: A7CA37;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 900px;
	color: white;
	cursor: pointer;
}
#hosinfo #hospital{
	line-height: 25px;
	margin-bottom: 20px;
}
#hosinfo #map{
	width: 500px;
	height: 300px;
	margin: 0px auto;
}
#replyrequest{
	width: 960px;	
}
#sendrequest:hover, #bigbtn:hover{
	background-color: 7F9730;
}

#reset{
	width: 200px;
	height: 50px;
	border-radius : 10px;
	border: #A7CA37 2px solid;
	color: #A7CA37;
	font-weight: 900;
	background-color: white;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	margin-right: 10px;
}
#reset:hover{
	border: #799031 2px solid;
	color: #799031;
	background-color: #F0F7D8;
}
#alert{
	color: #B93B1C;
}
#preview{
	min-height: 150px;
	background-color: #EFF3E4;
	border-radius: 10px;
	width: 880px;
	margin-top: 20px;
	margin-left: 20px;

}
/*-----------------resultRequestList-------------*/
#listbody{
	padding: 0px 20px 20px 20px;
}
.menu_box{
	float:left;
	margin: 10px;
	flex-direction: column;
	box-shadow:1px 6px 6px #dfe8ca;
	border: 2px solid #dfe8ca;
	width: 150px;
	min-height: 220px;
	cursor: pointer;
	padding: 20px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.menu_box #dname{
	font-weight: 900;
	text-align: center;
}
.menu_box #drprice{
	text-align: right;
	font-weight: 900;
	color: #9f1f11;
}
.menu_box:hover{
	border: 2px solid #A7CA37;
	border-radius: 5px;
	transition: 0.2s;
}

/*-----------receRequestList.jsp------------*/
#recepage{
	width: 900px;
	margin: 0px auto;
}