@charset "UTF-8";

.menu_heading {
	width: 900px;
	height: 50px;
	margin-bottom: 70px;
	text-align: center;
}

#temp_page_menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#temp_menu1 {
	border: 5px solid #d7dbdb;
	border-radius: 10px;
	padding: 20px;
	height: 450px;
	width: 200px;
	line-height: 40px;
	font-size: 20px;
	margin-left: 20px;
}

#temp_menu2 {
	border: 5px solid #d7dbdb;
	border-radius: 10px;
	padding: 20px;
	height: 600px;
	width: 200px;
	line-height: 40px;
	font-size: 20px;
	margin-left: 20px;

}

#menu_container {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 30px;
}

#temp_heading {
	display: flex;
	justify-content: initial;
	margin-left: 20px;
}

/* shopping_cart page */

.cart_table {
	width: 900px;
	border: none;
	display: flex;
}

.item_all {
	text-align: left;

}

.th_chklabel,
.td_chk {
	width: 100px;
	border-left: none;
	border-right: none;
	text-align: left;
}

.th_img {
	width: 80px;
	border-left: none;
	border-right: none;
}

td.cart_img {
	border-left: none;
	border-right: none;
}

td.cart_chk {
	border-left: none;
	border-right: none;
}

.td_item {
	width: 300px;
	display: block;
	display: -webkit-box;
	max-width: 300px;
	height: 80px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 2;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	border-left: none;
	border-right: none;
}

.th_qnt,
.td_qnt {
	width: 100px;
	text-align: center;
	margin: 0px auto;
	border-left: none;
	border-right: none;
}

.th_delivery,
.td_delivery {
	width: 100px;
	text-align: center;
	border-left: none;
	border-right: none;
}

.th_price,
.td_price {
	width: 100px;
	text-align: center;
	margin: 0px auto;
	border-left: none;
	border-right: none;
}

.th_cart_delete,
.td_cart_delete {
	width: 40px;
	text-align: center;
	margin: 0px auto;
	border-left: none;
	border-right: none;
}

.th_subtotal,
.td_subtotal {
	width: 150px;
	text-align: center;
	margin: 0px auto;
	border-left: none;
	border-right: none;
}

.cart_space {
	border-left: none;
	border-right: none;
}

td.cart_total1 {
	text-align: right;
	border-left: none;
	border-right: none;
}

td.cart_total2 {
	text-align: right;
	border-left: none;
	border-right: none;
}

td.cart_total3 {
	text-align: right;
	border-left: none;
	border-right: none;
}

td.cart_total4 {
	text-align: right;
	border-left: none;
	border-right: none;
}

.cart_row_total {
	border: none;
}

h2.total_field {
	margin-top: 20px;
	font-size: 16px;

}

h3.total_amt {
	font-size: 25px;
	margin-top: 20px;
}

.btndelete {
	background-color: #eee;
	border: none;
	padding: 0.5rem;
	font-size: 1rem;
	width: 7em;
	border-radius: 1rem;
	color: lightcoral;
	cursor: pointer;
}

.btndelete:active {
	color: white;
	box-shadow: 0 0.2rem #dfd9d9;
	transform: translateY(0.2rem);
}

.btndelete:hover:not(:disabled) {
	background: lightcoral;
	color: white;
	text-shadow: 0 0.1rem #bcb4b4;
}

.btndelete:disabled {
	cursor: auto;
	color: grey;
}

.cartitem_delete {
	border-left: none;
	border-right: none;
}


.news_page {
	width: 960px;
	margin: 0px auto;
}

.post-slider {
	border: 1px solid red;
}

.post-slider .post-wrapper .news-feed {
	width: 84%;
	height: 350px;
	margin: 0px auto;
	border: 1px dashed red;
}

.post-slider .post-wrapper .post .news-feed {
	width: 300px;
	height: 350px;
	display: inline-block;
	background: gray;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ellipsisM {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 12px;
	max-height: 24px;
}


.citem {
	cursor: pointer;
}

.citem {
	float: left;
	width: 250px;
	height: 150px;
	border: solid 1px black;
}

#page {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	font-family: NanumGothic;
}

.page_border {
	border: 1px solid black;
}

.menu_item_title {
	font-size: 13px;
	font-family: NanumGothic;
	font-weight: 700;
	letter-spacing: -0.5px;
	line-height: 15px;
	text-align: center;
	margin-top: 10px;
}

.content_item_container_row {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-bottom: 40px;
}

.content_item_box_container {
	display: flex;
	flex-direction: column;
	width: 180px;
	height: 366px;
	/*   background-color:#f7f87a; */
	border: 1px solid #f5f5f5;

}

.content_item_title {
	font-size: 13px;
	height: 80px;
	padding: 10px;
}

.content_item_price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 45px;
	/*   background-color:#f07f7f; */
}

.price_item1 {
	font-size: 13px;
	font-weight: 700;
	padding: 10px;
}

.price_item2 {
	font-size: 15px;
	color: blue;
	padding: 10px;
}

.content_item_title_row {
	align-items: flex-end;
	width: 100%;
	height: 45px;
	background-color: #f5f5f5;
}

.content_item_title {
	padding: 10px;
}

.content_banner_area {
	display: flex;
	flex-direction: row;
	gap: 0;
}


/*Shopproduct Read page*/
#shopproduct_read_page {
	width: 960px;
	min-height: 100vh;
	overflow-y: scroll;
	background-color: lightgrey;
	font-family: apple sd gothic neo;
}

.prod-inquiry-items {
	border-top: 3px solid black;
}

.shopproduct_info_container .pbrand {
	font-size: 12px;
}

.pname {
	font-size: 18px;
	font-weight: 700;
	color: black;
}

.shopproduct_read_container_wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

.shopproduct_img_container {
	display: flex;
	flex-direction: column;
	width: 480px;
	height: 490px;
	background-color: orange;
}

.shopproduct_info_container {
	display: flex;
	flex-direction: column;
	width: 480px;
	min-height: 400px;
	background-color: skyblue;
}

.info_container_top_margin {
	width: 480px;
	height: 60px;
	color: #346aff;
	display: inline-block;
	font-family: apple sd gothic neo;
	font-size: 12px;
	background-color: white;
}

.info_container_header_container_bottom {
	display: flex;
	flex-direction: row;
	width: 480px;
	height: 42px;
}

.info_container_header_left_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info_container_header_left {
	color: #50a0ff;
	width: 379px;
	height: 12px;
	font-family: apple sd gothic neo;
	font-size: 18px;
	font-weight: 700;
	border-bottom: 1px solid black;
	border: 1px solid black;
	padding: 0px;
}

.info_container_header_right {
	display: flex;
	width: 80px;
	height: 40px;
}

.info_container_ratingbar_space {
	width: 480px;
	height: 25px;
	background-color: #cfcfcf;
	border-bottom: 1px solid lightgrey;
}

.info_price_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 480px;
	height: 113px;
	background-color: #9fadad;
	border-bottom: 1px solid lightgrey;
}

.price_container_price_value {
	font-size: 20px;
	color: #ae0000;
	font-weight: 700;
}

.price_container_quantity_value {
	width: 480px;
	height: 15px;
	color: #e7223d;
	margin: 10px 0px 0px;
}

.info_shippingInfo_container {
	width: 480px;
	height: 68px;
	background-color: #fef6cc;
	border-bottom: 1px solid lightgrey;
	padding: 14px 0px 0px;
}

.shipping_fee_line {
	font-size: 12px;
	color: black;
	font-weight: 700;
	letter-spacing: -0.75px;
	margin: 6px 0px 1px;
}

.shipping_date_line {
	font-size: 14px;
	color: #00891a;
	font-weight: 700;
	letter-spacing: -0.75px;
	margin: 0px 0px 6px;
}

.info_extra_info_container1 {
	width: 480px;
	height: 100px;
	background-color: #dcffbf;
}

.info_line1 {
	padding: 5px 0px 5px 0px;
	font-size: 12px;
}

.info_extra_info_container2 {
	width: 480px;
	height: 200px;
	background-color: #b99bf6;
}

.info_payment_container_row1 {
	display: flex;
	justify-content: space-between;
}

.info_payment_container3 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	width: 480px;
	height: 170px;
	background-color: #f4c3ad;
}

.payment_buttons {
	display: flex;
	flex-direction: row;
}

.cart_add {
	background-color: #ffffff;
	border: 1px solid #0c9c29;
	display: inline-block;
	cursor: pointer;
	color: #008a1e;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 40px;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
	transition: all 0.2s;
}

.cart_add:hover {
	background-color: #38ee5d;
	color: white;
	transition: all 0.2s;
}


.buy_now {
	background-color: #40d05d;
	border: 1px solid #40d05d;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 55px;
	text-decoration: none;
	transition: all 0.2s;
}

.buy_now:hover {
	background-color: #2fa447;
	transition: all 0.2s;
}

.shoproduct_read_terms_page {
	width: 960px;
	min-height: 500px;
	overflow-y: auto;
	/* 	background-color: #fec0c0; */
	font-family: apple sd gothic neo;
}

.table-title {
	font-size: 14px;
	padding: 10px;
	font-weight: 700;

}

.return_policy_tbl tr td {
	padding: 10px 10px;

}

.return_policy_tbl tr {
	border-bottom: 1px solid #eaeaee;

}

/* Style tab links */
.tablink {
	background-color: #ffffff;
	color: black;
	float: left;
	border: 1px solid lightgrey;
	border-width: thin;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 14px;
	width: 25%;
	font-weight: 600;
	margin-top: 20px;
}

.tablink:active {
	background-color: #ffffff;
}

/* .tablink:hover {
  background-color: #3d3d4f;
} */

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	color: black;
	display: none;
	padding: 60px 20px;
	height: 100%;

}

#Info {
	background-color: white;
}

.product-detail,
.product-essential-info table {
	width: 100%;
	border-bottom: 1px solid #ccc;
	font-size: 1em;
	margin: 0;
}

.prod-delivery-return-policy-table {
	width: 100%;
	margin-bottom: 10px;
	table-layout: fixed;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size: 12px;
	text-align: left;
	line-height: 20px;
	white-space: wrap;
	font-family: apple sd gothic neo;
}

.prod-delivery-return-policy-table th,
td {
	font-size: 12px;
	font-family: apple sd gothic neo;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
	text-align: left;
	line-height: 30px;
	font-family: apple sd gothic neo;
}

.product-item__table {
	text-align: left;
	line-height: 20px;
}

body,
input,
textarea,
select,
button,
table {
	font-family: sans-serif;
	font-size: 100%;
	font-family: apple sd gothic neo;
}

.user,
.agent,
.stylesheet,
.table {
	display: table;
	border-collapse: separate;
	box-sizing: border-box;
	text-indent: initial;
	border-spacing: 2px;
	border-color: grey;
}

#Review {
	background-color: white;
}

.clearFix {
	display: flex;
	justify-content: space-between;
}

.prod-inquiry-list_write-btn {
	padding: 0px 20px;
	color: #346aff;
	background-color: white;
	border: solid 1px #346aff;
	border-width: thin;
}


#Questions {
	display: flex;
	flex-direction: column;
	align-content: center;
	font-family: nanumgothic;
	background-color: white;
}

.product-item__table>li {
	list-style: none;
}

#contents.product {
	font-size: 12px;
}

.prod-report {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid lightgrey;
	padding: 10px 10px 10px 10px;
	background-color: #fafafa;
}

.prod-report__text {
	font-family: apple sd gothic neo;
	font-size: 12px;
}

.prod-report_button {
	padding: 7px 20px;
	border: solid 1px lightgrey;
	background-color: white;
	border-width: thin;
	font-size: 12px;
}

.prod-inquiry-list {
	border: 1px solid lightgrey;
	padding: 20px;
}

.prod-inquiry-list__emphasis ul {
	line-height: 25px;
}

.prod-inquiry-list__title {
	font-family: apple sd gothic neo;
	font-size: 18px;
	font-weight: 700;
	margin: 0px 0px 25px;
	text-align: left;
}

#Returns {
	background-color: white;
}

.prod-delivery-return-policy-title {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: 700;
}

.prod-delivery-return-policy-legal-notice {
	list-style: none;
	font-family: apple sd gothic neo;
	font-size: 12px;
}

.prod-delivery-return-policy__limit-list li {
	list-style: none;
	line-height: 30px;
	font-size: 12px;
}

.prod-inquiry-list__emphasis ul {
	font-size: 12px;
	line-height: 20px;
}

.prod-delivery-return-policy-table {
	font-size: 12px;
	padding: 10px;

}

tr {
	border-bottom: 1px solid #e1e1e1;
}

.prod-delivery-return-policy-table th {
	background-color: rgb(250 250 250);
	padding: 10px 0px 5px 20px;

}

.prod-delivery-return-policy-table td {
	padding: 0px 0px 0px 15px;
}

.prod-minor-notice {
	color:
		#888888;
	font-family:
		apple sd gothic neo;
	font-size:
		11px;
	margin:
		0px 0px 0px;
	text-align:
		left;
	height: 70px;
	border-bottom: 1px solid lightgrey;
}

/* -- quantity box -- */

.quantity {
	display: inline-block;
}

.quantity .input-text.qty {
	width: 35px;
	height: 43px;
	padding: 0 5px;
	text-align: center;
	background-color: transparent;
	border: 1px solid #efefef;
}

.quantity.buttons_added {
	text-align: left;
	position: relative;
	white-space: nowrap;
	vertical-align: top;
}

.quantity.buttons_added input {
	display: inline-block;
	margin: 0;
	vertical-align: top;
	box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
	padding: 7px 10px 8px;
	height: 45px;
	background-color: #ffffff;
	border: 1px solid #efefef;
	cursor: pointer;
}

.quantity.buttons_added .minus {
	border-right: 0;
}

.quantity.buttons_added .plus {
	border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
	background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
	outline: none;
}

/* magnifier */
.loupe {
	display: none;
	position: absolute;
	width: 200px;
	height: 200px;
	border: 1px solid black;
	box-shadow: 5px 5px 12px black;
	background: rgba(0, 0, 0, 0.25);
	cursor: crosshair;
	overflow: hidden;
}

.loupe img {
	position: absolute;
	right: 0;
}


/* Shopping cart */
.shopping_cart_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1000px;
	height: auto;
	background: lightgrey;
	font-family: "nanum gothic", "Apply SD Gothic", "Malgun Gothic";
}

.cart_shipping_general {
	font-family: "nanum gothic";
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	padding: 0px 14px;
}

.cart_container_main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 930px;
	min-height: 336px;
	border-radius: 20px;
	background-color: white;
}

.cart_header_top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cart_shipping_regularly {
	align-items: flex-start; 
	color: #999999;
	display: inline-block;
	font-family: "nanum gothic";
	font-size: 20px;
	line-height: 28px;
	padding: 0px 14px;
	text-align: center;
}

.cart_select_all {
	display: flex;
	align-items: center;
}

.bigCheckbox_page_header {
	width: 20px;
	height: 20px;
	accent-color: green;
	position: relative;
	top: 5px;
	margin-right: 12px;
}

.bigCheckbox_cart {
	position: relative;
	top: 3px;
	width: 20px;
	height: 20px;
	accent-color: green;
	margin-right: 10px;
}

.bigCheckbox_item {
	width: 20px;
	height: 20px;
	accent-color: green;
}

.cart_container_sub {
	width: 95%;
	height: 90%;
	border: 1px solid black;
	border-radius: 20px;
}

.cart_item {
	width: 100%;
	height: 100%;
	background-color: #e5f0fc;
	border-radius: 20px;
}

.cart_item_header_row {
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
	background-color: #f7f6b4;
	border-bottom: 2px solid black;
	border-radius: 20px 20px 0px 0px;

}

.shop_name_container {
	position: relative;
	top: 1px;
	left: -5px;
}

.cart_item_header_row_title {
	font-family: Tahoma;
	font-size: 20px;
	font-weight: 700;
	line-height: 23px;
	margin-right: 2px;
	/* border: 1px solid black; */
}

.cart_item_header_row .bigCheckbox {
	position: relative;
	top: 3px;
	left: -4px;
}

.cart_item_content_row_itemCard {
	display: flex;
	height: 165px;
	width: 100%;
	background-color: #f5d6ff;
	border-bottom: 1px solid lightgrey;

}

.chk_box_col0 {
	height: 100%;
	padding-right: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.content_col1_title {
	width: 430px;
	height: 165px;
	background-color: #d0fab6;
	border-right: 1px solid lightgrey;
}

.col1_title_row1 {
	height: 45px;
	width: 100%;
	background-color: #feadad;
}

.col1_title_row2_img_and_content {
	display: flex;
}

.col1_title_row2_content_container {
	padding-left: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.col1_title_row2_content_title {
	padding-top: 10px;
	width: 300px;
	font-size: 14px;
	border: 1px solid black;
}

.col1_title_row2_content_price {
	font-size: 17px;
	font-weight: 700px;
}

.line1-ellipsis {
	display: block;
	/* 블록태그로 만들어준다 */
	text-overflow: ellipsis;
	/* 말줄임 css */
	white-space: nowrap;
	/*글자를 한줄로 모아준다*/
	overflow: hidden;
	background: pink;
	/*실제 글자 영역 상태 확인하기 위함*/
}

.ellipsis2lines {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content_col2_quantity {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 165px;
	height: 165px;
	background-color: #a4ceff;
	border-right: 1px solid lightgrey;
}

button.cart_update {
	padding: 5px 10px;
}

.content_col3_subtotal_amount,
.content_col4_deliveryFee_amount {
	font-size: 15px;
	font-weight: 700px;
	line-height: 30px;
	padding-bottom: 5px;
}

.content_col3_subtotal_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 145px;
	height: 165px;
	background-color: #e4e4e4;
	border-right: 1px solid lightgrey;
}

.content_col3_subtotal_label {
	font-size: 12px;
}

.content_col4_deliveryFee_message {
	text-align: center;
	min-width: 110px;
	font-size: 12px;
	color: rgb(119 119 119);
	line-height: 17px;
}

.content_col4_deliveryFee_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 140px;
	height: 165px;
	background-color: #f4c290;
	border-right: 1px solid lightgrey;
}

.cart_item_footer {
	display: flex;
	flex-direction: row;
	height: 84px;
	width: 100%;
	background-color: #f5d6ff;
	border-bottom: 1px solid lightgrey;
	border-radius: 0px 0px 20px 20px;
}

.cart_item_footer_col1_subtotal,
.cart_item_footer_col2_deliveryfee,
.cart_item_footer_col3_make_payment {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 5px 0px 5px;
}

.cart_footer_col_label {
	font-size: 14px;
	letter-spacing: -0.5px;
	font-weight: 700px;
}

.cart_footer_col_label_deliveryfee {
	font-size: 16px;
	font-weight: 700px;
}

.cart_footer_col_label_subtotal {
	font-size: 16px;
	font-weight: 900;
	color: green;
	min-width: 150px;
}

.page_footer_col_amount {
	font-weight: 700;
	line-height: 20px;
	font-size: 18px;
}


.payment_submit {
	background-color: #44c767;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 17px;
	padding: 12px 11px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}

.payment_submit:hover {
	background-color: #5cbf2a;
}

.payment_submit:active {
	position: relative;
	top: 1px;
}


.dc_price {
	color: red;
}

.cart_item_footer {
	display: flex;
	align-items: center;
}

.cart_item_footer_inner {
	padding-left: 50px;
	display: flex;
	width: 550px;
	background-color: #e7e6e6;
	align-items: center;
}

.cart_item_footer_col1_subtotal {
	text-align: center;
	width: -moz-fit-content;
	width: fit-content;
	background-color: #5ec4fa;
	border-radius: 0px 0px 0px 20px;
}

.cart_footer_col_label_total {
	width: fit-content;
	width: -moz-fit-content;
	display: flex;
}

.cart_item_footer_col2_delivery {
	text-align: center;
	width: 90px;
	background-color: #ffed9b;
}

.cart_item_footer_col2_deliveryfee {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 14px;
	min-width: 90px;
	background-color: #ffed9b;
}

.cart_item_footer_col3_discount_amount {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	min-width: 100px;
	height: 100%;
	background-color: #ffd59e;
	border: 1px solid black;
	border-radius: 0px 0px 20px 0px;
}

.cart_footer_col4_subtotal {
	border: 1px solid black;
	padding: 5px 10px 5px 10px;
}

.page_bottom_half {
	margin-top: 40px;
	background-color: #ffffff;
	width: 100%;
	height: 400px;
}

.page_item_footer_inner {
	padding-left: 50px;
	display: flex;
	width: 700px;
	border: 1px solid black;
	align-items: center;
	background-color: #f7d3d3;
}

.page_bottom_total_price {
	background-color: #c8ffe1;
	width: 100%;
}

.page_bottom_total_price_row1 {
	display: flex;
	margin-top: 50px;
	height: 50px;
	width: 75%;
	background-color: blue;
}

.page_footer_col3_discount_amount {
	font-size: 16px;
	border: 1px solid black;
	width: 120px;
	text-align: center;
	background-color: #fceac7;
}

.bottom_total_price_row2_payment {
	text-align: center;
	margin-top: 35px;
	height: 60px;
	width: 100%;
	background-color: #fffac3;
}

.payment_submit_now {
	background-color: #44c767;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 17px;
	font-weight: bold;
	padding: 17px 200px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}

.payment_submit_now:hover {
	background-color: #5cbf2a;
}

.payment_submit_now:active {
	position: relative;
	top: 1px;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48
}

.math {
	padding: 0px 10px 0px 10px;
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
} */

.cart_header {
	display: flex;
	flex-direction: column;
	height: 140px;
	width: 100%;
	background-color: #e5f1ff;
	margin-bottom: 40px;
}

.cart_header_top {
	height: 55%;
	background-color: #fff0b9;
	border-bottom: 1px solid lightgrey;
}

.cart_header_bottom {
	display: flex;
	align-items: center;

}

.cart_select_all {
	display: flex;
	align-items: center;
	margin: 10px 0px 10px 50px;
	font-family: "nanum gothic";
	display: inline-block;
	font-weight: 700;
	line-height: 20px;
	width: 130px;
	height: 40px;
	/*   border: 1px solid black; */
}

.page_footer_col_label {
	font-size: 14px;
	letter-spacing: -0.5px;
	font-weight: 700;
}

.page_footer_col_label_subtotal,
.page_footer_col_label_deliveryfee,
.page_footer_col_label_discount {
	font-size: 16px;
	font-weight: 700;
}

.page_footer_col3_subtotal {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f3ffb9;
	min-width: 150px;
	height: 100%;

}

.page_footer_col3_label {
	font-size: 17px;
	font-weight: 700;
	padding-right: 10px;
	letter-spacing: -0.5px;
}

.page_footer_col3_label_subtotal {
	font-size: 17px;
	font-weight: 700;
	color: green;
}