<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ReviewMapper">
    <select id="read" resultType="com.example.domain.ReviewVO">
        select * from review
      	where rid=#{rid} and pno=#{pno}
    </select>
    <select id="list" resultType="com.example.domain.ReviewVO">
        select * from review
        where bno=#{bno}
        order by rid desc
    </select>
    <insert id="insert">
    	insert into review(rtitle,star,review,rdate,rimage1,rimage2,uid, pno)
    	values(#{rtitle}, #{star}, #{riview}, #{rdate}, #{rimage1}, #{rimage2}, #{uid}, #{pno})
    </insert>
    <update id="update">
    	update review
    	set rtitle=#{rtitle}, star=#{star}, review=#{review}, updatedate=now()
    	where rid=#{rid}
    </update>
    <delete id="delete">
    	delete from review
    	where rid=#{rid}
    </delete>
    <select id="r_join" resultType="com.example.domain.ReviewVO">
    	select r.*, p.pname, p.pimage from review r, shopproduct p
		where r.pno=p.pno;
    </select>
</mapper>